myenv/
./requirement.md
./site/
site/
*.vtk
*.vts
**/*.vtk
**/*.vts
venv/
venv312/
trunk/Dash/venv312/
venv_py312/
trunk/Dash/venv_py312/

trunk/Dash/venv312/lib64
trunk/Dash/venv312/bin/python
trunk/Dash/venv312/bin/python3
trunk/Dash/venv312/bin/python3.12
trunk/Dash/venv_py312/lib64
trunk/Dash/venv_py312/bin/python
trunk/Dash/venv_py312/bin/python3
trunk/Dash/venv_py312/bin/python3.12
