site_name: OpenPhase Docs

docs_dir: trunk

nav:
  - OpenPhase Docs:
      - OpenPhase Documentation: index.md
      - Cooling Curve Simulation: CoolingCurve/README.md
      - Corrosion Simulations: Corrsion/README.md
      - Fracture Mechanics Simulations: Fracture/README.md
      - Gradient Field Visualization: Gradient/README.md
      - Machine Learning:
          - Superalloys:
              - Cuboid Precipitate Analysis: MachineLearning/Superalloys/Cuboid/Cuboid_Report.md
              - Cube-to-Raft Transition Analysis: MachineLearning/Superalloys/Cube_Raft/CubeRaft_Report.md
              - Sphericity Roundness:
                  - Sphericity and Roundness Analysis (fast_rs) - 2D Slice: MachineLearning/Superalloys/Sphericity_Roundness/Sphericity_Roundness_Report.md
                  - "Comparative Analysis: PF_Initial vs PF_old": MachineLearning/Superalloys/Sphericity_Roundness/Comparison_Report.md
      - "OpenPhase: Phase-Field Simulations": OpenPhase/README.md
      - Potential Field Simulations: Potential/README.md
      - Potential and Flux Simulations: PotentialFlux/README.md

theme:
  name: material
  features:
    - toc.follow
    - content.code.annotate
    - content.tabs.link
    - content.action.edit
    - navigation.path
    - navigation.indexes
    - navigation.sections
    - navigation.expand
  palette:
    - scheme: default
      primary: grey
      accent: grey
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - scheme: slate
      primary: grey
      accent: grey
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - awesome-pages:
      collapse_single_pages: true
  - glightbox

extra_javascript:
    - javascripts/mathjax.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    - javascripts/width-control.js

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.caret
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.betterem
    - pymdownx.arithmatex:
        generic: true
    - attr_list
    - pymdownx.inlinehilite
    - pymdownx.smartsymbols
    - pymdownx.magiclink
    - md_in_html
    - pymdownx.highlight:
         anchor_linenums: true
    - toc:
        permalink: true
        toc_depth: 6

extra_css:
  - stylesheets/extra.css

extra:
  print_site: true
