site_name: OpenPhase Docs

docs_dir: trunk

theme:
  name: material
  features:
    - toc.follow
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.prefetch
    - content.code.annotate
    - content.tabs.link
    - content.action.edit
    - navigation.path
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
  palette:
    - scheme: default
      primary: grey
      accent: grey
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - scheme: slate
      primary: grey
      accent: grey
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - awesome-pages:
      collapse_single_pages: true
  - glightbox

extra_javascript:
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
    - javascripts/width-control.js

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.caret
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.betterem
    - mdx_math
    - attr_list
    - pymdownx.inlinehilite
    - pymdownx.smartsymbols
    - pymdownx.magiclink
    - md_in_html
    - pymdownx.highlight:
         anchor_linenums: true
    - toc:
        permalink: true
        toc_depth: 6

extra_css:
  - stylesheets/extra.css

extra:
  print_site: true
